/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin: 0;
}
/* End: Global Styles */
.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: #eee;
  opacity: 0.9;
  cursor: pointer;
}

.add:hover {
  opacity: 1;
}

.add:focus {
  outline-color: #94eb1c;
}
