/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin: 0;
}
/* End: Global Styles */
